h1 {
    text-align: center;
    padding: 10px;
}

.chef {
    height: auto;
    width: 700px;   
}

.pic {
    padding: 10px;
    margin: 5px;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    display: inline;
    padding: 15px;
    margin: 20px;
}